{% load static %}
<html>
<head>

    <!-- {% load static %} -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}"> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %}Wear Me Up{% endblock %}</title>
</head>

<body>   
    <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img style="max-width:55px; margin-top: -10px;" src="/static/logo/wearmeup.png"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url "store:all_products" %} %}">all</a></li>
            <li><hr class="dropdown-divider"></li>
            {% for each_category in category1  %}
                        <li><a class="dropdown-item" href="{{each_category.get_absolute_url}}">{{each_category.name|title}}</a></li>

            {% endfor %}
        
          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
     </header>
{% block header %} {% endblock %}
<hr >
<main>
    {% block content %} {% endblock %}
</main>
</body>
</html>